header {
	margin: 20px 0 0;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-size: 130%;
	font-weight: bold;
}

body {
	padding: 40px;
}

textarea.text {
	padding: 5px;
}

#save_text {
	padding: 7px 20px;
	display: block;
	margin-top: 20px;
}

#text_edit label {
	display: block;
	margin: 20px 0 10px;
	font-weight: bold;
}

#text_head {
	width: 300px;
}