.edit_input {
    width: 350px;
}

#save {
	display: block;
	margin-top: 10px;
}

.block {
	margin-top: 20px;
}

button {
	padding: 7px 20px;
	display: block;
	margin-right: 10px;
	margin-top: 20px;
}

#category_tree {
	margin: 30px 0 30px;
	width: 400px;
}

#edit-box p {
	margin: 10px 0;
}

#category_form label {
	display: block;
	margin: 5px 0;
}

#category_form select {
	padding: 3px;
	border: 1px #bbb solid;
}