.imgs ul li a.block {
	display: block;
	width: 210px;
	text-align: center;
	height: 150px;
	background: #ddd;
}

.imgs ul li img {
	height: 150px;
}

.imgs ul li a.user {
	display: block;
	font-style: italic;
	margin-top: 7px;
	color: black;
	width: 210px;
	margin-bottom: 7px;
}

.imgs ul li {
	margin: 0 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.imgs ul li:first-child {
	margin-left: 0;
}

.imgs ul li:last-child {
	margin-right: 0;
}

.imgs ul li:hover button.x {
	display: block;
}

.imgs button.x {
	width: 20px;
	height: 20px;
	background: red;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.imgs button.x:hover {
	background: darkred;
}

.imgs ul li {
	text-align: center;
}

.imgs ul li .likes {
	margin: 7px;
	padding-left: 14px;
	display: inline-block;
	height: 15px;
	color: #c42d3f;
	text-decoration: none;
	background: url('/images/like.png') no-repeat left center;
}