.imgs ul li a.block {
	display: block;
	min-width: 210px;
	text-align: center;
	height: 150px;
	background: #ddd;
}

.imgs ul li img {
	height: 150px;
}

.imgs ul li a.user {
	display: block;
	font-style: italic;
	margin-top: 7px;
	color: black;
	min-width: 210px;
	margin-bottom: 7px;
}

.imgs ul li {
	margin: 0 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.imgs ul li:hover button.x {
	display: block;
}

.imgs button.x {
	width: 20px;
	height: 20px;
	background: red;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.imgs button.x:hover {
	background: darkred;
}

.imgs ul li {
	text-align: center;
}

.imgs ul li div.name {
	border: 0;
	padding-bottom: 0;
	margin: 5px 0;
  	max-width: 210px;
}