#news {
	min-height: 273px;
}

#news > img {
	float: left;
	margin-right: 35px;
}

#news h1, .imgs h1 {
	font-size: 180%;
	font-family: Georgia;
	margin-bottom: 20px;
}
#news p {
	font-style: italic;
	font-size: 110%;
}

#news div {
	margin-left: 435px;
}

#start {
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 110%;
}

.imgs {
	clear: both;
	margin-top: 35px;
}

.imgs h1 {
	font-size: 160%;
}

.imgs ul li {
	text-align: center;
}

.imgs ul li:first-child {
 	margin-left: 0; 
}