#top_block {
	text-align: center;
}

#top_block form input {
	width: 190px;
	float: right;
}

#top_block form label {
	margin-right: 10px;
	position: relative;
	top: 3px;
}

#top_block form > div {
	width: 360px;
	margin: 0 auto;
	text-align: right;
}

#top_block form div div {
	height: 30px;
	text-align: right;
}

#top_block form button {
	padding: 7px 20px;
	min-width: 100px;
	margin: 20px 5px 0;
}

#success_reg {
	width: 700px;
	margin: 0 auto;
	color: green;
	font-size: 150% !important;
	font-family: Calibri !important;
}