body {
    margin: 0 auto;
	font-family: Calibri;
}

#wrap {
    min-height: 880px;
	width: 1100px;
    height: auto;
	margin: 0 auto;
}

a {
	color: #733333;
    text-decoration: underline;
}

#top_block {
	margin-top: 35px;
}

input {
	padding: 3px 5px;
	border: 1px #bbb solid;
}

button {
	cursor: pointer;
	background: #7e5723;
	border: 0;
	color: white;
}

button:hover {
	background: #6a4018;
}