#top_block {
	text-align: center;
}

#top_block form input {
	width: 190px;
}

#top_block form div div {
	margin: 0 auto;
	width: 360px;
	text-align: left;
}

/*
#top_block form > div {
	width: 360px;
	margin: 0 auto;
}

#top_block form div div {
	height: 30px;
}


*/

#top_block form button {
	padding: 7px 20px;
	min-width: 100px;
	margin: 20px 5px 40px;
}

#success_reg {
	width: 700px;
	margin: 0 auto;
	color: green;
	font-size: 150% !important;
	font-family: Calibri !important;
}

.error {
	color: red;
	font-weight: bold;
	margin: 10px 0 20px;
}

#registration_form label {
	display: block;
	margin: 5px 0;
}

#registration_form small {
	font-style: italic;
	color: #aaa;
	font-size: 90%;
	margin-bottom: 5px;
	display: block;
}

#reg_text {
	width: 500px;
	margin: 0 auto;
	text-align: justify;
}