RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !^/contest_rules.docx
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /index.php [L]

Options -Indexes

ErrorDocument 404 /includes/404.php

php_flag error_repritng off
php_flag display_errors off